<%- include('header'); -%>

<form action="/studentAdd" method="POST">
   
    <input type="text" name="firstName" id="firstName" placeholder="Enter New First Name">
    
    <input type="text" name="lastName" id="lastName" placeholder="Enter New Last Name">
    
    <input type="text" name="email" id="email" placeholder="Enter New Email">
   
    <input type="text" name="password" id="password"  placeholder="Enter New Password">
    
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    
    
    </form>









<%- include('footer'); -%>