<%- include('header'); -%>

<h1 style="text-align:center;" >Data Structures and Algorithms Syllabus</h1>

<div class="Card">


<div class="card">
    <div class="card-content">
      <p style="text-align:center;"> Welcome To  Online Examination Portal :)</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Student</a></li>
        <li class="tab"><a class="active" href="#test5">Admin</a></li>
        <li class="tab"><a href="#test6">Supervisor</a></li>
      
      </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="test4">
            <a class="waves-effect waves-light btn" href="/login">Login</a>
            <a class="waves-effect waves-light btn" href="/register">Register</a>
        
        </div>
        <div id="test5">
            <a class="waves-effect waves-light btn" href="/adminLogin">Login</a>
            
        
        </div>

        <div  id="test6" >

            <a  class="waves-effect waves-light btn"    href="/supervisorLogin">Login</a>
        </div>
        
      </div>
   
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>



<%- include('footer'); -%>