<%- include('header'); -%>
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Caveat:wght@700&family=Lobster&family=Open+Sans:wght@300&family=Syne+Tactile&display=swap" rel="stylesheet">
<h1 style="text-align:center; font-family: 'Arvo', serif;" >Welcome To The Online Examination Portal !</h1>

<div class="Card">


<div class="card">
    <div class="card-content">
      <p ><h3 style="text-align:center; font-family: 'Caveat', cursive;  ">Login To Get Started</h3></p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Student</a></li>
        <li class="tab"><a class="active" href="#test5">Admin</a></li>
        <li class="tab"><a href="#test6">Supervisor</a></li>
      
      </ul>
    </div>
    <div class="card-content grey lighten-4" style="align-content: center;">
        <div id="test4">
            <a class="waves-effect waves-light btn" style="background-color:#665998;" href="/login">Login</a>
            <a class="waves-effect waves-light btn"  style="background-color: #665998;" href="/register">Register</a>
        
        </div>
        <div id="test5">
            <a class="waves-effect waves-light btn"  style="background-color: #665998;"  href="/adminLogin">Login</a>
            
        
        </div>

        <div  id="test6" >

            <a  class="waves-effect waves-light btn" style="background-color: #665998;"   href="/supervisorLogin">Login</a>
        </div>
        
      </div>
   
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>



<%- include('footer'); -%>