<%- include('header'); -%>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">


<div class="container" style="background-color: white; text-align: center;">

<h2 style="font-family: 'Roboto Slab', serif;">Your Score is : <%=Score %></h2>
<a class="waves-effect waves-light btn" style="background-color:#665998; color: black; text-align: center; align-content: center;" href="/syllabus">Back To Home Page</a>



</div>








<%- include('footer'); -%>