<%- include('header'); -%>


<% Students.forEach(function(student){ %>
 
    <div class="collection">
        <a href="/studentUpdate/<%=student.firstName %>" class="collection-item"><%=student.firstName %></a>
        
      </div>


 <% }) %>




<%- include('footer'); -%>