<%- include('header'); -%>


<div>

<h1>Manage The Users </h1>
<br>
<br>

<button class="button"  onclick="window.location.href='/studentUpdate'"><span>Update Students</span></button>
<br>
<button class="button"  onclick="window.location.href='/studentAdd'" ><span>Add Student</span></button>
<br>
<button class="button" onclick="window.location.href='/studentDel'"   ><span>Delete  Student</span></button>
<br>

<button class="button" onclick="window.location.href='/Del'" ><span>Update Admin</span></button>
<br>
<button class="button"  onclick="window.location.href='/adminAdd'" ><span>Add Admin</span></button>
<br>
<button class="button" onclick="window.location.href='/adminDel'" ><span>Delete Admin</span></button>








</div>







<%- include('footer'); -%>