<form action="/Supregister" method="POST">

<input type="text" name="firstName" placeholder="firstName">
<input type="text" name="lastName" placeholder="lastName">
<input type="text" name="email" placeholder="email">
<input type="text" name="password" placeholder="password">
<button type="submit"> Submit</button>


</form>