<%- include('header'); -%>

<div class="collection " >

    <% topicNames.forEach(function(item) { %>

      
        <a href= "/syllabus/<%= item .title %> " class="collection-item "><%= item.title %></a>
        <br>


        <% } )%>
        
           

</div>

    <a class="waves-effect waves-light btn" href="/logout">Log Out</a>
    


<%- include('footer'); -%>